
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section head     {
    <title>Read AppSettings</title>
}

    <h3>Results of read</h3>
    <br />
Resuilt 1 : @ViewBag.result1<br /> 
Resuilt 2 : @ViewBag.result2<br /> 
Resuilt 3 : @ViewBag.result3<br /> 
Resuilt 4 : @ViewBag.result4<br /> 
Resuilt 5 : @ViewBag.result5<br /> 

